@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.month-wrapper {
  .month-container {
    // margin: 10px;
    // padding: 10px;
    table {
      width: 99.95%;
      border-collapse: collapse; /*added*/

      h1 {
        font-size: 22px;
        margin: 20px 10px;
        color: $monthly-title-color;
      }

      tr {
        height: auto;
        &.body-row {
            height: calc( (100vh - 10px) / 7);
        }
      }

      th {
        text-transform: capitalize;
        padding-right: 6px;
        margin: 2px;
        color: $weekend-days;
        text-align: right;
      }

      td {
        white-space: nowrap;
        vertical-align: top;
        text-align: right;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
        height: 100%;
        border: 1px solid $header-border-color;

        &:hover {
          background: rgb(235, 234, 234);
        }

        div {
            margin: 2px 2px 0;
        }

        &.prev-month,
        &.next-month {
          color: $non-month-days;
          cursor: default;

          &:hover {
            background: transparent;
          }
          
          @include mq("tablet-small", max) {
            color: transparent;
          }
        }

        &.today span {
          background: $monthly-title-color;
          color: white;
          border-radius: 50%;
          padding: 5px;
        }

        &.weekend {
          color: $weekend-days;
          background-color: $weekend-days-bg;
        }
      }
    }
  }
}
