<section class="month-wrapper">
    <section class="month-container">
        <table>
            <tr>
                <th *ngFor="let day of service.weekDaysShort">{{ day }}</th>
            </tr>

            <tr class="body-row" *ngFor="let row of boundary">
                <td *ngFor="let col of cols | async; let i = index" [class]="styleClass">
                    <div><span>{{ getTDVal(row, i) + '' }}</span></div>
                </td>
            </tr>
        </table>

    </section>
</section>