@font-face {
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap")
    format("swap");
  font-family: "cyrillic", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/global.scss";
@import "./styles/responsive.scss";