<section class="year-wrapper">
    <section class="year-container" #yearContainer>

        <div *ngIf="!isMobile; else mobile" #yearList>
            <section class="desktop-header">
                <h1>{{ year }}</h1>

                <section id="year-controls">
                    <button class="icon-btn" (click)="changeYear('prev')">
                        < </button>
                            <button class="today-btn" (click)="changeYear('curr')">Current</button>
                            <button class="icon-btn" (click)="changeYear('next')"> > </button>
                </section>
            </section>

            <section class="year-container">
                <task-yearly-table *ngFor="let m of months" [title]="'long'" [month]="m" [year]="year">
                </task-yearly-table>
            </section>
        </div>

    </section>
</section>

<ng-template #mobile>
    <div *ngFor="let year of years" #yearList>
        <section class="desktop-header">
            <h1>{{ year }}</h1>

            <section id="year-controls">
                <button class="icon-btn" (click)="changeYear('prev')">
                    < </button>
                        <button class="today-btn" (click)="changeYear('curr')">Current</button>
                        <button class="icon-btn" (click)="changeYear('next')"> > </button>
            </section>
        </section>

        <section class="year-container">
            <task-yearly-table *ngFor="let m of months" [title]="'short'" [month]="m" [year]="year">
            </task-yearly-table>
        </section>
    </div>
</ng-template>