@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.year-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    @include mq("tablet-small", max) {
      border-bottom: 1px solid $header-border-color;
    }

    h1 {
      font-size: 34px;
      margin: 20px 0 0px;
      font-weight: normal;
      @include mq("tablet-small", max) {
        margin-bottom: 20px;
        color: $monthly-title-color-mobile;
        font-weight: bold;
      }
    }

    #year-controls {
      @include mq("tablet-small", max) {
        display: none;
      }
    }
  }
}
