@import "../../../../../styles/variables.scss";
@import "../../../../../styles/responsive.scss";

nav {
  padding-top: 2px;
  button {
    color: rgba(0, 0, 0, 0.598);
    border: solid 0.5px rgb(186, 184, 184);
    background: $header-bg;
    min-width: 45px;

    &:hover {
      color: black;
      background: $active-link-bg;
    }

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.menu-link-active {
  background: $active-link-bg !important;
}
