<nav>
    <button *ngFor="let link of routeLinks; let i = index" [routerLink]="[link.link]"
        [class.menu-link-active]="router.isActive(link.link, false)" class="nav-link" [tabindex]="i">
        {{ link.label }}
    </button>
</nav>