.month-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .desktop-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5%;
      margin-bottom: 10px;
  
      h1 {
          font-size: 34px;
          margin: 20px 0 0px;
          font-weight: normal;
      }
    }
  }
  