<section class="month-wrapper">
    <section class="month-container">

        <section class="desktop-header">
            <h1>
                <!-- <span *ngIf="title === 'short'">{{ monthName | date: 'MMM' }}</span> -->
                <!-- <span *ngIf="title === 'long'">{{ monthName | date: 'MMMM y' }}</span> -->
                <span>{{ monthName | date: 'MMMM y' }}</span>
            </h1>
    

            <section id="month-controls">
                <button class="icon-btn" (click)="changeMonth('prev')"> < </button>
                <button class="today-btn" (click)="changeMonth('curr')">Current</button>
                <button class="icon-btn" (click)="changeMonth('next')"> > </button>
            </section>
        </section>

        <task-monthly-table [title]="'none'" [month]="month" [year]="year"></task-monthly-table>
        
    </section>
</section>