@import "../../../../../styles/variables.scss";
@import "../../../../../styles/responsive.scss";

.calendar-header-wrapper {
  background: $header-bg;
  border-bottom: solid 1px $header-border-color;
  padding-right: 10px;

  .calendar-header-container .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search-field {
      input {
        margin-top: 2px;
      }
    }
  }
}
