<section class="calendar-header-wrapper">
    <section class="calendar-header-container">

        <header class="toolbar">
            <div class="header-add-btn">
                <button class="icon-btn" (click)="addToNote()">+</button>
            </div>

            <task-nav></task-nav>

            <div class="search-field">
                <input type="text">
            </div>
        </header>

    </section>
</section>