<section class="yearly-month-wrapper">
    <section class="yearly-month-container">
        <h1 [class.current-month]="service.currentMonth === monthName.getMonth() + 1">
            <span *ngIf="title === 'none'"></span>
            <span *ngIf="title === 'short'">{{ monthName | date: 'MMM' }}</span>
            <span *ngIf="title === 'long'">{{ monthName | date: 'MMMM' }}</span>
        </h1>

        <table>
            <tr class="header-row">
                <th *ngFor="let day of service.weekDays">{{ day }}</th>
            </tr>

            <tr *ngFor="let row of boundary">
                <td *ngFor="let col of service.weekDays; let i = index" [class]="styleClass">
                    {{ getTDVal(row, i) + '' }}
                </td>
            </tr>
        </table>

    </section>
</section>