@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.yearly-month-wrapper {
  .yearly-month-container {
    margin: 10px;
    padding: 10px;
    @include mq("tablet-small", max) {
      margin: 5px;
      padding: 5px;
    }
    &:hover {
      background: rgba(248, 248, 248, 0.938);
      border-radius: 15px;
    }

    h1 {
      font-size: 22px;
      margin: 20px 10px;
      color: $monthly-title-color;
      @include mq("tablet-small", max) {
        color: black;

        &.current-month {
          color: $monthly-title-color-mobile;
        }
      }
    }

    tr {
      &.header-row {
        @include mq("tablet-small", max) {
          display: none;
        }
      }
    }

    th {
      text-transform: capitalize;
      min-width: 20px;
      margin: 2px;
      color: $weekend-days;
    }

    td {
      text-align: center;
      cursor: pointer;
      padding: 5px;
      font-weight: bold;

      @include mq("tablet-small", max) {
        padding: 2px;
      }

      &:hover {
        border-radius: 50%;
        background: rgb(235, 234, 234);
      }

      &.prev-month,
      &.next-month {
        color: $non-month-days;
        cursor: default;

        &:hover {
          background: transparent;
        }
        @include mq("tablet-small", max) {
          color: transparent;
        }
      }

      &.today {
        background: $monthly-title-color;
        color: white;
        border-radius: 50%;
      }

      &.weekend {
        color: $weekend-days;
      }
    }
  }
}
