@import "./variables.scss";
@import "./mixins.scss";

* {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $black-bg-light;
    box-shadow: 0 0 1px $light-box-shadow;
    -webkit-box-shadow: 0 0 1px $light-box-shadow;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-btn {
  background: none !important;
  border: none !important;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: $hover-btn;
    font-weight: bold;
  }
}

.today-btn {
  background: none !important;
  border: none !important;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -2px;

  &:hover {
    color: $hover-btn;
  }
}
