$hover-btn: #FF3B30;
$monthly-title-color: #FF3B30;
$monthly-title-color-mobile: #D7131C;
$weekend-days: #868686;
$weekend-days-bg: #F5F5F5;
$non-month-days: #e3e3e3;


/* NAV */
$header-bg: #F3F3F4;
$header-border-color: #E4E4E4;
$active-link-bg: #E6E6E7;


$black-bg-light: rgba(0, 0, 0, 0.5);
$light-box-shadow: rgba(255, 255, 255, 0.5);